@using MudBlazor

<MudDialog Class="dialog-container">
    <DialogContent>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large"/>
            <MudText Typo="Typo.h6" Align="Align.Center">Scanning...</MudText>
        </div>
    </DialogContent>
</MudDialog>

<style>
    .dialog-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Centra verticalmente */
    }
</style>